<h1> Links </h1>
<ul id = 'links'>
  <% @links.each {|link| %>
  <li>
    Title: <%= link.title %>
    URL:   <%= link.url   %>
    TAGS:   #<%= link.tags.map(&:name).join(" ")%>
  </li>
  <% } %>
</ul>
