<h1>Please type in url and title</h1>
  <form action="/links" method="post">
    <label for = 'url'>
      URL:
      <input type="text" name="url">
    </label>
    <label for = 'title'>
      TITLE:
      <input type="text" name="title">
    </label>
    <label for="tags">
      TAG:
      <input type="text" name="tags">
    </label>
    <input type="submit" value="Create link">
  </form>
