<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <% if flash[:errors] and !flash[:errors].empty? %>
    Please refer to the following errors below:
    <ul id= 'errors' >
      <% flash[:errors].each {|error| %>
<li><%= error %></li>
<% } %>
</ul>
    <% end %>
    <%= yield %>
  </body>
</html>
